body{
    background-color: rgb(23, 4, 38);
    color: aliceblue;
    width: 100%;
}
h1,p{
    text-align: center;
    margin: 1rem;
}
label{
    display: block;
    margin: 1.5em 0;
    /* background-color: rgb(23, 4, 38); */
   
}

form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0.5rem auto;
    border: 2px solid rgb(91, 8, 154); 
}
fieldset{
    border: none;
    border-bottom: 2px solid rgb(91, 8, 154) ;
}
input ,textarea{
    background-color: rgb(56, 22, 74) ;
    border: 1px solid rgb(23, 4, 38);
    /* display: block; */
}
.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
fieldset:last-of-type {
    border-bottom: none;
}
#sub{
    display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: rgb(56, 22, 74);
  border-color: white;
  min-width: 300px;
}