body{
    background-color: rgb(23, 4, 38);
    color: aliceblue;
    width: 100%;
}
h1,p{
    text-align: center;
    margin: 1rem;
}
label{
    display: block;
    margin: 1.5em 0;
    background-color: rgb(23, 4, 38);
   
}

form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0.5rem auto;
}
fieldset{
    border: none;
    border-bottom: 2px solid rgb(91, 8, 154) ;
}